<%- include('includes/head.ejs') %>
</head>


<%- include('includes/navigation.ejs') %>
<h1>The server has faced an issue</h1>
<em>We're working on this right now. Sorry for the inconvenience!</em>

<%- include('includes/end.ejs') %>